.book-now {
    outline: none
}

#site-header.overlay-header.white-style.dyn-styles #mobile-menu a.book-table-bt {
    transform: translateY(75px)
}

@media only screen and (min-width: 376px) and (max-width: 480px) {
    .popup-heading {
        font-size: 16px
    }

    .popup-content {
        font-size: 14px !important;
        width: 100% !important
    }

    .book-now {
        font-size: 12px !important
    }
}
.vc_custom_1683626485214 {
    background-color: #fefefe !important;
}

.vc_custom_1605418958884 {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    background-color: #fefefe !important;
}

.vc_custom_1605421968864 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background-color: #edecea !important;
}

.vc_custom_1606158920091 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.vc_custom_1605421673723 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background-color: #edecea !important;
}

.vc_custom_1605418760625 {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
}

.vc_custom_1603471471753 {
    margin-right: -50px !important;
    margin-bottom: 50px !important;
}

.vc_custom_1605421167456 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.vc_custom_1605421173984 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.vc_custom_1603438695832 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1603505862143 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    background-color: #ffffff !important;
}

.vc_custom_1605420967775 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1605420942191 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    background-color: #ffffff !important;
}

.vc_custom_1603471471753 {
    margin-right: -50px !important;
    margin-bottom: 50px !important;
}

.vc_custom_1605419252979 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.vc_custom_1605421193207 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.vc_custom_1605421284630 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1605421278054 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    background-color: #ffffff !important;
}

.vc_custom_1605030683453 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1605030692444 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    background-color: #ffffff !important;
}

.vc_toggle_total .vc_toggle_title, .vcex-module a:hover .wpex-heading, .vcex-icon-box-link-wrap:hover .wpex-heading, .wpex-text-accent, .wpex-hover-text-accent:hover, .wpex-accent-color, #site-navigation .dropdown-menu > li.menu-item > a:hover, #site-navigation .dropdown-menu > li.menu-item.current-menu-item > a, #site-navigation .dropdown-menu > li.menu-item.current-menu-parent > a, .modern-menu-widget a:hover, .theme-button.outline, .theme-button.clean, a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .entry-title a:hover, .meta a:hover, .wpex-heading a:hover {
    color: #c2a058
}

.vcex-testimonials-fullslider .sp-button:hover, .vcex-testimonials-fullslider .sp-selected-button, .vcex-testimonials-fullslider.light-skin .sp-button:hover, .vcex-testimonials-fullslider.light-skin .sp-selected-button, .vcex-testimonials-fullslider .sp-button.sp-selected-button, .vcex-testimonials-fullslider .sp-button:hover, .wpex-bg-accent, .wpex-hover-bg-accent:hover, .wpex-bg-accent_alt, .wpex-hover-bg-accent_alt:hover, .wpex-badge, .wpex-accent-bg, input[type="submit"], .theme-button, button, .button, .active > .theme-button, .theme-button.active, .theme-button.outline:hover, .active > .theme-button.outline, .theme-button.outline.active, .theme-button.outline:hover, .post-edit a, .background-highlight, .tagcloud a:hover, .post-tags a:hover, .wpex-carousel .owl-dot.active, .wpex-carousel .owl-prev, .wpex-carousel .owl-next, body #header-two-search #header-two-search-submit, #site-navigation .menu-button > a > span.link-inner, .modern-menu-widget li.menu-item.current-menu-item a, #sidebar .widget_nav_menu .current-menu-item > a, .widget_nav_menu_accordion .widget_nav_menu li.menu-item.current-menu-item > a, #site-navigation-wrap.has-menu-underline .main-navigation-ul > li > a > .link-inner::after, #wp-calendar caption, #wp-calendar tbody td:hover a {
    background-color: #c2a058
}

.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a {
    border-bottom-color: #c2a058
}

.wpex-border-accent {
    border-color: #c2a058
}

.wpex-hover-border-accent:hover {
    border-color: #c2a058
}

.theme-button.outline {
    border-color: #c2a058
}

.wpex-dropdown-top-border #site-navigation .dropdown-menu li.menu-item ul.sub-menu {
    border-top-color: #c2a058
}

.theme-heading.border-w-color span.text {
    border-bottom-color: #c2a058
}

/*ACCENT HOVER COLOR*/
.wpex-bg-accent_alt, .wpex-hover-bg-accent_alt:hover, .post-edit a:hover, .theme-button:hover, input[type="submit"]:hover, button:hover, .button:hover, .active > .theme-button, .theme-button.active, .wpex-carousel .owl-prev:hover, .wpex-carousel .owl-next:hover, #site-navigation .menu-button > a > span.link-inner:hover {
    background-color: #c2a058
}

.wpex-text-accent_alt, .wpex-hover-text-accent_alt:hover {
    color: #c2a058
}

/*BORDER COLOR*/
.wpex-border-main, .wpex-bordered, .wpex-bordered-list li, .wpex-bordered-list li:first-child, .wpex-divider, .theme-heading.border-side span.text:after, .theme-heading.border-w-color, #comments .comment-body, .theme-heading.border-bottom, ul .page-numbers a, a.page-numbers, span.page-numbers, .modern-menu-widget, .modern-menu-widget li, .modern-menu-widget li ul, #sidebar .widget_nav_menu a, #sidebar .widget_nav_menu ul > li:first-child > a, .widget_nav_menu_accordion .widget_nav_menu a, .widget_nav_menu_accordion .widget_nav_menu ul > li:first-child > a, .vcex-blog-entry-details, .theme-button.minimal-border, .vcex-login-form, .vcex-recent-news-entry {
    border-color: #c2a058
}

/*VC META CSS*/
.vc_custom_1608355412495 {
    padding-top: 40px !important;
    padding-bottom: 20px !important
}

.vc_custom_1608353916982 {
    padding-top: 10px !important
}

/*TYPOGRAPHY*/
body {
    font-size: 15px;
    color: #3c2313;
    letter-spacing: 1px
}

#site-navigation .dropdown-menu .link-inner {
    font-size: 16px;
    text-transform: uppercase
}

h1, h2, h3, h4, h5, h6, .theme-heading, .page-header-title, .wpex-heading, .vcex-heading, .entry-title {
    font-family: "Josefin Sans";
    color: #3c2313
}

.theme-heading {
    font-family: "Josefin Sans"
}

/*ADVANCED STYLING CSS*/
#mobile-menu .wpex-bars > span, #mobile-menu .wpex-bars > span::before, #mobile-menu .wpex-bars > span::after {
    background-color: #ffffff
}

#mobile-menu a:hover .wpex-bars > span, #mobile-menu a:hover .wpex-bars > span::before, #mobile-menu a:hover .wpex-bars > span::after {
    background-color: #c2a058
}

/*CUSTOMIZER STYLING*/
.page-header.wpex-supports-mods {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff
}

.site-content input[type="date"], .site-content input[type="time"], .site-content input[type="datetime-local"], .site-content input[type="week"], .site-content input[type="month"], .site-content input[type="text"], .site-content input[type="email"], .site-content input[type="url"], .site-content input[type="password"], .site-content input[type="search"], .site-content input[type="tel"], .site-content input[type="number"], .site-content textarea {
    padding: .8em;
    background-color: #ffffff;
    border-color: #eeeeee
}

a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .entry-title a:hover, .meta a:hover, .wpex-heading a:hover, .vcex-module a:hover .wpex-heading, .vcex-icon-box-link-wrap:hover .wpex-heading {
    color: #999999
}

a:hover {
    color: #dddddd
}

.theme-button, input[type="submit"], button, #site-navigation .menu-button > a > span.link-inner, .button, .added_to_cart {
    background-color: #666666
}

.theme-button:hover, input[type="submit"]:hover, button:hover, #site-navigation .menu-button > a:hover > span.link-inner, .button:hover, .added_to_cart:hover {
    background-color: #333333
}

.container, .boxed-main-layout #wrap {
    width: 1200px
}

#site-header #site-header-inner {
    padding-top: 40px;
    padding-bottom: 40px
}

#site-navigation .dropdown-menu > li.menu-item > a {
    color: #666666
}

#site-navigation .dropdown-menu > li.menu-item > a:hover, #site-navigation .dropdown-menu > li.menu-item.dropdown.sfHover > a {
    color: #999999
}

#site-navigation .dropdown-menu > li.menu-item.current-menu-item > a, #site-navigation .dropdown-menu > li.menu-item.current-menu-parent > a {
    color: #999999
}

#mobile-menu a {
    color: #ffffff
}

#mobile-menu a:hover {
    color: #c2a058
}

#sidr-main {
    background-color: #323037;
    color: #ffffff
}

#sidr-main li, #sidr-main ul, .sidr-class-mobile-menu-searchform input, .sidr-class-mobile-menu-searchform {
    border-color: #323037
}

.sidr a:hover, .sidr-class-menu-item-has-children.active > a {
    color: #c2a058
}

#footer {
    background-color: #ffffff
}

#footer li {
    border-color: #eeeeee
}

#footer .wpex-border-main {
    border-color: #eeeeee
}

#footer table th {
    border-color: #eeeeee
}

#footer table td {
    border-color: #eeeeee
}

#footer .widget_tag_cloud a {
    border-color: #eeeeee
}

.vc_column-inner {
    margin-bottom: 40px
}

@media only screen and (min-width: 960px) {
    body.has-sidebar .content-area, .wpex-content-w {
        width: 70%
    }

    #sidebar {
        width: 25%
    }
}

@media only screen and (max-width: 767px) {
    #site-logo img {
        max-width: 80%
    }
}

.theme-button {
    margin: 8px;
}

.p-3 {
    padding: 16px;
}
