/*
Theme Name: Mango Bay Theme
Theme URI: http://mangobayphuquoc.com/
Description: Mango Bay Resort is a spacious beach resort set in remote location amongst nature's wonders for guests to enjoy.
Author: WAM
Author URI: https://wam.vn
Template: mangobay
Version: 1.0
*/
/*
#site-header.overlay-header.white-style.dyn-styles #mobile-menu a {
    background: #c2a058;
    position: fixed;
    right: -20px;
    cursor: pointer;
    transition: all .7s cubic-bezier(.19,1,.22,1);
    width: 80px;
    height: 110px;
    top: 30%;
    transform: translateX(0) translateY(-100%);
}
*/
#site-header.overlay-header.white-style.dyn-styles #mobile-menu a {
    position: fixed;
    right: 0;
    cursor: pointer;
    transition: all .7s cubic-bezier(.19,1,.22,1);
    top: 30%;
    transform: translateX(0) translateY(-100%);
}

/*
#site-header.overlay-header.white-style.dyn-styles #mobile-menu a:hover {
    transform: translateX(-10px) translateY(-100%);
}
*/
.wpex-bars>span, .wpex-bars>span::before, .wpex-bars>span::after {
    height: 1px;
}

.wpex-bars {
    margin-right: 10px;
}

.full-screen-overlay-nav {
    width: 80%;
    background: #323037;
    right: 0;
	left: unset;
}
.full-screen-overlay-nav.black {
    background: #323037;
}
/*
.navbar-btn-label {
    position: absolute;
    top: 50px;
    right: 0;
    opacity: 1;
    transition: color .5s cubic-bezier(.19,1,.22,1);
    font: 400 12px/1.3 "Josefin Sans";
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .7s cubic-bezier(.19,1,.22,1);
    transform: translateX(7px) rotate(-90deg);
}
.navbar-btn-label span {
    display: block;
    width: 80px;
}
.navbar-header {
    z-index: 5;
    position: fixed;
    right: -20px;
    background-color: #fff;
    cursor: pointer;
    z-index: 70;
    transition: all .7s cubic-bezier(.19,1,.22,1);
    width: 80px;
    height: 110px;
    top: 30%;
    border: none;
    transform: translateX(0) translateY(-100%);
    color: #000;
}
.navbar-header.reservation {
    transform: translateX(0) translateY(0);
    background-color: #5f5c68;
    color: #fff;
    height: 150px;
}
.navbar-header.reservation .navbar-btn {
    bottom: 110px;
}
.navbar-header .navbar-btn {
    position: absolute;
    width: 29px;
    height: 14px;
    margin: 0;
    transition: top .5s cubic-bezier(.19,1,.22,1);
    top: auto;
    right: 35px;
    bottom: 75px;
    left: auto;
}
.navbar-header .navbar-btn-bars {
    position: absolute;
    right: 0;
    width: 65px;
    height: 15px;
    overflow: hidden;
}
.navbar-header.reservation .navbar-btn-bars div:first-child {
    right: 2px;
    width: 0;
}
.navbar-header.reservation .navbar-btn-bars div {
    background-color: #fff;
}
.navbar-header.reservation .navbar-btn-bars div:nth-child(2) {
    width: 20px;
    transform: translateX(-5px) translateY(0) rotate(45deg);
}
*/
@media screen and (max-width:768px){.q-container[data-v-4a9d7f1f]{padding:0 35px}}@media screen and (max-width:540px){.q-container[data-v-4a9d7f1f]{padding:0 20px}}@media screen and (max-width:320px){.q-container[data-v-4a9d7f1f]{padding:0 15px}}.container-inner[data-v-4a9d7f1f]{padding-left:12rem;padding-right:12rem}@media screen and (max-width:1024px){.container-inner[data-v-4a9d7f1f]{padding-left:8rem;padding-right:8rem}}@media screen and (max-width:768px){.container-inner[data-v-4a9d7f1f]{padding-left:50px;padding-right:50px}}@media screen and (max-width:540px){.container-inner[data-v-4a9d7f1f]{padding-left:20px;padding-right:20px}}@media screen and (max-width:320px){.container-inner[data-v-4a9d7f1f]{padding-left:15px;padding-right:15px}}.loader[data-v-4a9d7f1f]{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:1050;display:none;transition:all .5s ease;opacity:1}.loader.loaded[data-v-4a9d7f1f]{opacity:0;z-index:-1}.overlay-effect[data-v-4a9d7f1f]{position:absolute;z-index:10;height:100%;top:0;right:0;transform-origin:left;-webkit-transform-origin:left}@keyframes scrollDown-data-v-4a9d7f1f{0%{padding:10px}50%{padding:0}to{padding:10px}}@-webkit-keyframes scrollDown-data-v-4a9d7f1f{0%{padding:10px}50%{padding:0}to{padding:10px}}.bookNow[data-v-4a9d7f1f]{position:fixed;top:50%;right:-64px;transform:translateY(80px) rotate(-90deg);z-index:1061;width:170px;cursor:pointer;transition:all .4s ease}@media screen and (max-width:540px){.bookNow[data-v-4a9d7f1f]{top:auto;left:0;right:0;bottom:0;transform:rotate(0);width:100%;box-shadow:0 -10px 30px rgba(0,0,0,.06)}}.bookNow:hover .label[data-v-4a9d7f1f]{background-color:#5f5c68}@media screen and (max-width:540px){.bookNow:hover .label[data-v-4a9d7f1f]{background-color:#fff}}.bookNow.active .label[data-v-4a9d7f1f]{background-color:#5f5c68}@media screen and (max-width:540px){.bookNow.active .label[data-v-4a9d7f1f]{background-color:#fff}.bookNow.active .label span[data-v-4a9d7f1f]{color:#679334}}.bookNow.active .close[data-v-4a9d7f1f]{opacity:1;visibility:visible}.bookNow.active .book[data-v-4a9d7f1f]{opacity:0;visibility:hidden}.bookNow.active .icon[data-v-4a9d7f1f]{transform:rotate(180deg)}.bookNow .wrap[data-v-4a9d7f1f]{display:flex;align-items:center;-webkit-align-items:center;justify-content:flex-start;-webkit-justify-content:flex-start;position:relative}.bookNow .label[data-v-4a9d7f1f]{position:relative;background-color:#679334;width:180px;height:50px}@media screen and (max-width:540px){.bookNow .label[data-v-4a9d7f1f]{width:100%;background-color:#fff}}@media screen and (max-width:320px){.bookNow .label[data-v-4a9d7f1f]{height:45px}}.bookNow span[data-v-4a9d7f1f]{left:20px}@media screen and (max-width:540px){.bookNow span[data-v-4a9d7f1f]{left:50%}}.bookNow .close[data-v-4a9d7f1f]{opacity:0;visibility:hidden}.bookNow .book[data-v-4a9d7f1f],.bookNow .close[data-v-4a9d7f1f],.bookNow .icon[data-v-4a9d7f1f],.bookNow .label[data-v-4a9d7f1f]{transition:all .3s ease}.bookNow .icon[data-v-4a9d7f1f],.bookNow span[data-v-4a9d7f1f]{position:absolute;color:#fff;display:block;top:50%;transform:translateY(-50%)}@media screen and (max-width:540px){.bookNow .icon[data-v-4a9d7f1f],.bookNow span[data-v-4a9d7f1f]{transform:none}}.bookNow .icon[data-v-4a9d7f1f]{font-size:20px;right:15px;line-height:0}@media screen and (max-width:540px){.bookNow .icon[data-v-4a9d7f1f]{display:none}}.bookNow span[data-v-4a9d7f1f]{text-transform:uppercase;font-size:12px;letter-spacing:2px;margin-right:30px}@media screen and (max-width:540px){.bookNow span[data-v-4a9d7f1f]{padding:15px;font-size:14px;color:#679334;margin:0;text-align:center;top:0;left:0;right:0;bottom:0}}@media screen and (max-width:320px){.bookNow span[data-v-4a9d7f1f]{padding:12px;font-size:12px}}.header-mobile[data-v-4a9d7f1f]{background-color:transparent;display:none;position:fixed;top:0;left:0;right:0;z-index:1010;padding:20px 0;transition:all .4s ease}@media screen and (max-width:1192px){.header-mobile[data-v-4a9d7f1f]{display:block}}@media screen and (max-width:540px){.header-mobile[data-v-4a9d7f1f]{padding:10px 0}}.header-mobile.nav-active[data-v-4a9d7f1f]{background-color:#fff;box-shadow:0 10px 30px rgba(0,0,0,.06);padding:10px 0}@media screen and (max-width:1024px){.header-mobile.nav-active[data-v-4a9d7f1f]{padding:5px 0}}.header-mobile.nav-active .icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f],.header-mobile.nav-active .icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:after,.header-mobile.nav-active .icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:before{background-color:#679334}.header-mobile.nav-active .logo-mobile a[data-v-4a9d7f1f]{left:calc(6rem - 40px)}.header-mobile.nav-active .logo-mobile .white[data-v-4a9d7f1f]{opacity:0;visibility:hidden}.header-mobile.nav-active .logo-mobile .ori[data-v-4a9d7f1f]{opacity:1;visibility:visible}.header-mobile.menu-open[data-v-4a9d7f1f]{box-shadow:none}.header-mobile.menu-open[data-v-4a9d7f1f],.header-mobile.menu-open .icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]{background-color:transparent}.header-mobile.menu-open .icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:after,.header-mobile.menu-open .icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:before{background-color:#fff}.header-mobile.menu-open .logo-mobile a[data-v-4a9d7f1f]{left:50%}.header-mobile.menu-open .logo-mobile .ori[data-v-4a9d7f1f]{opacity:0;visibility:hidden}.header-mobile.menu-open .logo-mobile .white[data-v-4a9d7f1f]{opacity:1;visibility:visible}.logo-mobile a[data-v-4a9d7f1f]{display:inline-block;position:relative;left:50%;transform:translateX(-50%);transition:all .4s ease;width:85px;height:66px}@media screen and (max-width:540px){.logo-mobile a[data-v-4a9d7f1f]{width:75px;height:58px}}@media screen and (max-width:375px){.logo-mobile a[data-v-4a9d7f1f]{width:65px;height:51px}}@media screen and (max-width:320px){.logo-mobile a[data-v-4a9d7f1f]{width:50px;height:39px}}.logo-mobile .ori[data-v-4a9d7f1f]{opacity:0;visibility:hidden}.logo-mobile img[data-v-4a9d7f1f]{position:absolute;left:50%;transform:translateX(-50%);top:0;width:100%;height:100%;transition:all .4s ease}.icon-menu-wrap[data-v-4a9d7f1f]{position:absolute;top:50%;right:6rem;transform:translateY(-50%);display:flex;align-items:center;-webkit-align-items:center}@media screen and (max-width:768px){.icon-menu-wrap[data-v-4a9d7f1f]{right:4rem}}@media screen and (max-width:540px){.icon-menu-wrap[data-v-4a9d7f1f]{right:30px}}@media screen and (max-width:320px){.icon-menu-wrap[data-v-4a9d7f1f]{right:25px}}.icon-menu-wrap .icon-menu[data-v-4a9d7f1f]{width:32px;height:32px;position:relative;display:flex;align-items:center;-webkit-align-items:center}@media screen and (max-width:540px){.icon-menu-wrap .icon-menu[data-v-4a9d7f1f]{width:25px;height:25px}}@media screen and (max-width:320px){.icon-menu-wrap .icon-menu[data-v-4a9d7f1f]{width:15px;height:15px}}.icon-menu-wrap .icon-menu.active .bar[data-v-4a9d7f1f]{background-color:transparent}.icon-menu-wrap .icon-menu.active .bar[data-v-4a9d7f1f]:before{top:0;transform:rotate(-45deg)}.icon-menu-wrap .icon-menu.active .bar[data-v-4a9d7f1f]:after{bottom:0;transform:rotate(45deg)}.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]{position:relative;width:100%;height:2px;background-color:#fff;transition:all .4s ease}@media screen and (max-width:320px){.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]{height:1px}}.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:after,.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:before{content:"";display:block;height:2px;width:calc(100% + 8px);background-color:#fff;position:absolute;transition:all .4s ease}@media screen and (max-width:320px){.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:after,.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:before{height:1px}}.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:before{top:-10px}@media screen and (max-width:540px){.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:before{top:-8px}}@media screen and (max-width:320px){.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:before{top:-6px}}.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:after{bottom:-10px}@media screen and (max-width:540px){.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:after{bottom:-8px}}@media screen and (max-width:320px){.icon-menu-wrap .icon-menu .bar[data-v-4a9d7f1f]:after{bottom:-6px}}.navbar-header-mobile[data-v-4a9d7f1f]{display:none;position:fixed;top:0;left:0;width:100%;height:80px;background-color:#323037;z-index:999}@media screen and (max-width:540px){.navbar-header-mobile[data-v-4a9d7f1f]{display:block}}.navbar-header-mobile .logo[data-v-4a9d7f1f]{width:70px;display:block;margin:10px auto}.navbar-header-mobile .logo img[data-v-4a9d7f1f]{width:100%}.navbar-header-mobile .navbar-btn-bars[data-v-4a9d7f1f]{position:absolute;right:30px;top:30px;width:65px;height:15px;overflow:hidden}.navbar-header-mobile .navbar-btn-bars div[data-v-4a9d7f1f]{position:absolute;top:0;right:0;width:25px;height:1px;background-color:#fff;transition:all .7s cubic-bezier(.19,1,.22,1)}.navbar-header-mobile .navbar-btn-bars div[data-v-4a9d7f1f]:first-child{top:7px}.navbar-header-mobile .navbar-btn-bars div[data-v-4a9d7f1f]:nth-child(3){top:14px}.navbar-header[data-v-4a9d7f1f]{z-index:5;position:fixed;right:-20px;background-color:#fff;cursor:pointer;z-index:70;transition:all .7s cubic-bezier(.19,1,.22,1);width:80px;height:110px;top:30%;border:none;transform:translateX(0) translateY(-100%);color:#000}@media screen and (max-width:540px){.navbar-header[data-v-4a9d7f1f]{display: block;}}.navbar-header .navbar-btn[data-v-4a9d7f1f]{position:absolute;width:29px;height:14px;margin:0;transition:top .5s cubic-bezier(.19,1,.22,1);top:auto;right:35px;bottom:75px;left:auto}.navbar-header .navbar-btn-bars[data-v-4a9d7f1f]{position:absolute;right:0;width:65px;height:15px;overflow:hidden}.navbar-header .navbar-btn-bars div[data-v-4a9d7f1f]{position:absolute;top:0;right:0;width:25px;height:1px;background-color:#000;transition:all .7s cubic-bezier(.19,1,.22,1)}.navbar-header .navbar-btn-bars div[data-v-4a9d7f1f]:first-child{top:7px}.navbar-header .navbar-btn-bars div[data-v-4a9d7f1f]:nth-child(3){top:14px}.navbar-header .navbar-btn-label[data-v-4a9d7f1f]{position:absolute;top:40px;right:0;opacity:1;transition:color .5s cubic-bezier(.19,1,.22,1);font:400 9px/1.3 "Josefin Sans";letter-spacing:2px;text-transform:uppercase;transition:all .7s cubic-bezier(.19,1,.22,1);transform:translateX(7px) rotate(-90deg)}.navbar-header .navbar-btn-label span[data-v-4a9d7f1f]{display:block;width:40px}.navbar-header[data-v-4a9d7f1f]:hover{transform:translateX(-10px) translateY(-100%)}.navbar-header:hover .navbar-btn-bars div[data-v-4a9d7f1f]{width:30px}.navbar-header:hover .navbar-btn-bars div[data-v-4a9d7f1f]:nth-child(2),.navbar-header:hover .navbar-btn-bars div[data-v-4a9d7f1f]:nth-child(3){width:0}.navbar-header:hover .navbar-btn-label[data-v-4a9d7f1f]{transform:translateX(10px) rotate(-90deg)}.navbar-header.reservation[data-v-4a9d7f1f]{transform:translateX(0) translateY(0);background-color: #c2a058;color:#fff;height: 75px;}.navbar-header.reservation .navbar-btn[data-v-4a9d7f1f]{bottom: 55px;}.navbar-header.reservation .navbar-btn-bars div[data-v-4a9d7f1f]{background-color:#fff}.navbar-header.reservation .navbar-btn-bars div[data-v-4a9d7f1f]:first-child{right:2px;width:0}.navbar-header.reservation .navbar-btn-bars div[data-v-4a9d7f1f]:nth-child(2){width:20px;transform:translateX(-5px) translateY(0) rotate(45deg)}.navbar-header.reservation .navbar-btn-bars div[data-v-4a9d7f1f]:nth-child(3){width:20px;transform:translateX(-5px) translateY(0) rotate(-45deg)}.navbar-header.reservation .navbar-btn-label[data-v-4a9d7f1f]{top: 30px;transform:translateX(22px) rotate(-90deg)}.navbar-header.reservation .navbar-btn-label span[data-v-4a9d7f1f]{display:block;width:70px}.navbar-header.reservation[data-v-4a9d7f1f]:hover{transform:translateX(-10px) translateY(0);background-color:#679334}.navbar-header.reservation:hover .navbar-btn-label[data-v-4a9d7f1f]{transform:translateX(25px) rotate(-90deg)}.navbar-header.reservation:hover .navbar-btn-bars div[data-v-4a9d7f1f]:first-child{width:30px}.navbar-header.reservation:hover .navbar-btn-bars div[data-v-4a9d7f1f]:nth-child(2){width:20px;transform:translateX(2px) translateY(0) rotate(45deg)}.navbar-header.reservation:hover .navbar-btn-bars div[data-v-4a9d7f1f]:nth-child(3){width:20px;transform:translateX(2px) translateY(0) rotate(-45deg)}.navbar-header.close[data-v-4a9d7f1f]{transform:translateX(0) translateY(-100%);background-color:transparent;color:#fff;right:-100px}@media screen and (max-width:540px){.navbar-header.close[data-v-4a9d7f1f]{display:block}}.navbar-header.close .navbar-btn-bars div[data-v-4a9d7f1f]{background-color:#fff}#navOverlay[data-v-4a9d7f1f]{bottom:0;left:0;width:100%;background:rgba(0,0,0,.8);opacity:0;pointer-events:none;z-index:1}#navContent[data-v-4a9d7f1f],#navOverlay[data-v-4a9d7f1f]{position:fixed;top:0;right:0;height:100%}#navContent[data-v-4a9d7f1f]{width:80%;background:#323037;z-index:2;display:flex;align-items:center;justify-content:center}@media screen and (max-width:540px){#navContent[data-v-4a9d7f1f]{width:100%}#navContent .columns[data-v-4a9d7f1f]{padding-left:20px}}#navContent h5[data-v-4a9d7f1f]{color:#d8d6e2;opacity:.3}#navContent .main_nav[data-v-4a9d7f1f]{margin:0;padding:0}#navContent .main_nav li a[data-v-4a9d7f1f]{display:block;font:400 20px/2 Playfair Display,serif;color:#d8d6e2;text-transform:uppercase;letter-spacing:3px;transition:all .2s ease;position:relative}@media screen and (max-width:540px){#navContent .main_nav li a[data-v-4a9d7f1f]{font:700 14px/2.5 Open Sans,serif;letter-spacing:1px}}#navContent .main_nav li a[data-v-4a9d7f1f]:before{content:"";display:block;position:absolute;top:50%;left:-10px;width:0;height:2px;background:#679334;transition:all .5s cubic-bezier(.86,0,.07,1);z-index:-1}#navContent .main_nav li a[data-v-4a9d7f1f]:hover:before{width:80%}#navContent .main_nav li a[data-v-4a9d7f1f]:hover{color:#fff;transform:translateX(10px)}#navContent #menu_screen[data-v-4a9d7f1f]{position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:60%;height:70%;max-height:500px;background:rgba(0,0,0,.1)}#navContent #menu_screen .screen_item[data-v-4a9d7f1f]{position:absolute;top:0;right:0;bottom:0;left:0;opacity:0;background:no-repeat 50%;background-size:cover}

.row.shortwidth {
    max-width: 1720px;
}
.text-center {
    text-align: center;
}
.row {
    max-width: 75rem;
    margin-left: auto !important;
    margin-right: auto !important;
}
.about .wpb_column.nk-awb>.nk-awb-wrap {
    right: 0;
    left: 0;
}
.color-white {
	color: #fff;
}
.wpb_animate_when_almost_visible {
    opacity: 1;
}
#language-button-home {
    position: fixed;
    width: 120px;
    height: 60px;
    background: #679334;
    right: 0;
    top: 30%;
    transform: translateX(50%) translateY(250%);
    transition: all .7s cubic-bezier(.19,1,.22,1);
}
#language-button-home:hover {
    /*transform: translateX(0) translateY(250%);*/
    /*background-color: #679334;*/
}
#social-button-home {
    position: fixed;
    width: 60px;
    height: 130px;
    background: #795548;
    right: 0;
    top: 30%;
    transform: translateX(0) translateY(161%);
}
#social-button-home a {
    display: block;
}
.social-icon-home, .lang-icon-home {
    position: unset !important;
    right: unset !important;
    top: unset !important;
    transform: translateX(0) translateY(+30%) !important;
}
.social-icon-home a:hover {
    transform: translateX(+10%) translateY(+30%) !important;
}
/*
#lang-button-home {
    position: fixed;
    width: 60px;
    height: 80px;
    background: #666;
    right: 0;
    top: 33%;
    transform: translateX(0) translateY(150%);
}
#lang-button-home a {
    display: block;
}
*/
.wpex-slider .sp-arrow {
    background: rgba(0,0,0,0);
}
.wpex-slider .sp-arrow:hover {
    background: #3c2313bd;
}
.wpex-slider .sp-buttons {
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    width: inherit;
    left: inherit;
    top: inherit;
}
.wpex-slider .sp-button:hover, .wpex-slider .sp-selected-button, .wpex-slider .sp-button:focus {
    background-color: #c2a058;
}
.full-screen-overlay-nav {
    width: 350px;
}

.row-booking {
    max-width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.form-control {
    width: 250px;
    text-align: center;
    background: #fefefe !important;
    border-bottom: 3px solid !important;
}

.form-booking, .form-date {
    text-align: center;
    padding: 20px;
}


.wildlife-bg {
    width: 450px;
    height: 450px;
    margin-top: 83px;
    margin-left: 150px;
}

.image-dropbox {
    box-shadow: 50px 50px #f8f8f8;
}

.offer-text {
    min-height: 300px;
}

.press-title {
    min-height: 100px;
}

.text-last-center {
    text-align: justify;  
    -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;
}

.textcenter {
    text-align: center;
}

.enable-language {
	margin-right: 59px;
	margin-top: 2px;
}

.enable-language .trp-flag-image {
	width: 32px;
}

@media screen and (max-width:1280px){

	.offer-text {
		min-height: 400px;
	}
	.text-box-height {
		min-height: 145px;
		text-align: justify;  
		-moz-text-align-last: center; /* Code for Firefox */
		text-align-last: center;
	}
}

@media screen and (max-width:540px){

	.full-screen-overlay-nav {
		width: 100%;
	}

	.navbar-header[data-v-4a9d7f1f] {
		background-color: #ffffff95;
	}
	.navbar-header[data-v-4a9d7f1f]:hover {
		background-color: #ffffff;
	}

	.navbar-header.reservation[data-v-4a9d7f1f] {
		background-color: #c2a05895;
	}
	.navbar-header.reservation[data-v-4a9d7f1f]:hover {
		background-color: #c2a058;
	}

	#social-button-home {
		background: #79554895;
	}
	#social-button-home:hover {
		background: #795548;
	}

	#language-button-home {
		background: #67933495;
	}
	#language-button-home:hover {
		background: #679334;
	}
}